* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Roboto", serif;
    margin: 0px;
}
/* Estilos para la barra de navegación */
.navbar {
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(173,170,170,0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(173,170,170,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(173,170,170,0.75);
}

.navbar-left img {
    width: 50px;
    margin-left: 46px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.localizar-tienda {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.ingresar,
.unete {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px;
}

.unete {
    background: black;
    color: white;
}

.unete:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.ingresar:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

/* Estilos para los botones de navegación */
.navbar-button {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    position: relative; /* Necesario para la pseudo-clase */
}

.navbar-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00754a; /* Color verde */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-button:hover::after,
.navbar-button:focus::after,
.navbar-button:active::after {
    visibility: visible;
    width: 100%;
}

.navbar-button:hover {
    color: #00754a;
}

/* Contenedor de tarjetas */
#contenedor-tarjetas {
    display: block;
    margin-top: 20px;
}

#tarjeta-uno{
    margin-top: -17px;
}

#tarjeta-uno,
#tarjeta-dos,
#tarjeta-tres,
#tarjeta-cuatro,
#tarjeta-cinco {
    width: 100%;
    padding: 0.1px;
    display: flex;
    align-items: stretch; /* Asegura que todos los elementos se estiren uniformemente */
    justify-content: space-between;
    margin-bottom: 20px;
}

#tarjeta-uno {
    background-color: #1e3932;
}

#tarjeta-dos {
    background-color: #0044b4;
}

#tarjeta-tres {
    background-color: #dc3545;
}

#tarjeta-cuatro {
    background-color: #1e3932;
}

#tarjeta-cinco {
    background-color: #dc3545;
}

#tarjeta-uno .contenedor-imagen1,
#tarjeta-tres .contenedor-imagen1,
#tarjeta-cinco .contenedor-imagen1 {
    width: 50%;
}

#tarjeta-dos .contenedor-imagen1,
#tarjeta-cuatro .contenedor-imagen1 {
    order: 2; /* Coloca la imagen a la derecha */
    width: 50%;
}

#tarjeta-uno .contenedor-imagen1 .imagen-starbucks1,
#tarjeta-dos .contenedor-imagen1 .imagen-starbucks1,
#tarjeta-tres .contenedor-imagen1 .imagen-starbucks1,
#tarjeta-cuatro .contenedor-imagen1 .imagen-starbucks1,
#tarjeta-cinco .contenedor-imagen1 .imagen-starbucks1 {
    max-width: 100%;
    height: auto;
    display: block;
}

.contenedor-texto {
    color: white;
    text-align: center;
    width: 50%; /* Ajusta el tamaño del contenedor para igualar el tamaño de la imagen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Catamaran", sans-serif;
    padding-bottom: 0; /* Elimina el padding inferior */
    margin-bottom: 0; /* Elimina el margen inferior */
}

#tarjeta-dos .contenedor-texto {
    width: 50%; /* Ancho ajustado para la tarjeta dos */
}

.contenedor-texto h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.contenedor-texto span {
    font-size: 1.3rem;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

.contenedor-texto p {
    font-size: 1.2rem;
    font-weight: 500;
}

.texto {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
}
/* tarjetas pequeñas */
#tarjetas-pequenas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#tarjeta-pequena1,
#tarjeta-pequena2 {
    width: 48%;
    padding: 1px 1px 40px 1px; /* Ajuste de tamaño para extender hacia abajo */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#tarjeta-pequena1 {
    background-color: #f6bfd9; /* Fondo rojo claro */
    color: #900; /* Texto rojo oscuro */
}

#tarjeta-pequena2 {
    background-color: #98cde4; /* Fondo azul claro */
    color: #0056b3; /* Texto azul oscuro */
}

.contenedor-imagen {
    text-align: center;
    margin-bottom: 20px;
}

.imagen-starbucks {
    max-width: 100%;
    height: auto;
}

.contenedor-texto-pequena {
    text-align: center; /* Alinea el texto a la izquierda */
    margin-bottom: 20px;
}

.contenedor-texto-pequena h4 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal; /* Texto normal, no en negritas */
    line-height: 1.5; /* Espacio entre líneas */
    margin-bottom: 30px; /* Espacio entre el texto y el botón */
}

/* Ajuste de las frases en dos líneas */
.contenedor-texto-pequena h4 span {
    display: block;
}

/* Botón */
.boton {
    padding: 10px 20px;
    background-color: #f6bfd9; /* Fondo del botón */
    color: #900; /* Color del texto */
    border: 1px solid #900; /* Borde del botón */
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    font-weight:bold;
    font-size: 16px;
}

.boton2 {
    padding: 10px 20px;
    background-color: #98cde4; /* Fondo del botón */
    color: #0056b3; /* Color del texto */
    border: 1px solid #0056b3; /* Borde del botón */
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    font-weight:bold;
}

/* Espacio en blanco antes del footer */
#espacio-blanco {
    height: 40px;
}

/* Línea con sombra */
.footer-line {
    border: 0;
    height: 1px;
    background: white; /* Línea tenue */
    margin: 20px 0;
    box-shadow: 0px -6px 5px 0px rgba(107,107,107,0.75); /* Sombra de color gris */
}

/* Estilos para el footer */
.footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: left; /* Alinea el texto a la izquierda */
    font-family: "Catamaran", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-section {
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: none; /* Asegura que el texto esté en minúsculas */
    font-weight: normal; /* Quita el negritas excesivo */
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer-section ul li a {
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-section ul li a:hover {
    color: black;
    text-decoration: none; /* Evita el subrayado al hacer hover */
}

.footer-line {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1); /* Línea tenue */
    margin: 20px 0;
}

.footer-line2 {
    border: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.1); /* Línea tenue */
    margin: 20px 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-social a {
    margin: 0 15px; /* Más espacio entre íconos */
    display: inline-block;
    transition: transform 0.3s ease; /* Transición para el efecto de movimiento */
}

.footer-social a:hover {
    transform: translateY(-5px); /* Movimiento hacia arriba al hacer hover */
}

.footer-social img.social-icon {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
}

.footer-bottom {
    margin: 20px 0;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    color: #a9a9a9; /* Color gris más fuerte */
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-bottom ul li a:hover {
    color: black;
    text-decoration: none; /* Evita el subrayado al hacer hover */
}

.footer-bottom ul li span {
    color: #a9a9a9; /* Color gris más fuerte para el separador */
}

.footer-copyright {
    font-size: .875rem;
    margin-top: 20px;
    padding-top: 10px; /* Elimina la línea adicional */
    width: 100%;
    text-align: center; /* Centra el texto del copyright */
    color: gray;
}

.footer-copyright small {
    display: block;
    margin-top: 10px;
    color: gray;
    font-size: .625rem;
}

.footer-section ul li a[href*="trabaja"]:hover,
.footer-section ul li a[href*="historias"]:hover,
.footer-section ul li a[href*="contactanos"]:hover,
.footer-section ul li a[href*="facturas"]:hover,
.footer-section ul li a[href*="formas"]:hover {
    color: black;
    text-decoration: none; /* Evita el subrayado al hacer hover */
}
