* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    height: 100vh;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
}

.navbar {
    padding: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 5px 0px rgba(173, 170, 170, 0.75);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(173, 170, 170, 0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(173, 170, 170, 0.75);
    grid-column: 1 / 14;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegurar que esté encima del contenido */
}

.navbar-left img {
    width: 50px;
    margin-left: 46px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-left > *,
.navbar-right > * {
    margin: 10px;
}

.localizar-tienda {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.ingresar,
.unete {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px;
}

.unete {
    background: black;
    color: white;
}

.unete:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.ingresar:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.navbar-button {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    position: relative; /* Required for the pseudo-element */
}

.navbar-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #00754a; /* Green color */
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar-button:hover::after,
.navbar-button:focus::after,
.navbar-button:active::after {
    visibility: visible;
    width: 100%;
}

.navbar-button:hover {
    color: #00754a;
}

.side {
    background: linear-gradient(0deg, rgb(29, 57, 50) 0%, rgb(10, 105, 75) 100%);
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: fixed;
    top: 80px; /* Altura del navbar */
    bottom: 0;
}

/* Cambiar el tamaño de la imagen del título */
.titulo {
    margin-bottom: 20px;
    width: 300px; /* Ajustar el tamaño aquí */
    height: auto; /* Mantener la proporción */
    margin-top: 150px;
}

.side p {
    margin-bottom: 20px;
    font-size: 26pt;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons-container {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-bottom: 20px; /* Añadir espacio inferior para la imagen */
}

/* Estilos para los botones */
button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 40px; /* Bordes redondeados */
    margin: 5px;
    
}

/* Estilo específico para el botón "Únete Ahora" */
button.unete-ahora {
    background-color: white;
    color: black;
    border: 2px solid transparent; /* Sin borde por defecto */
    text-align: center;
    font-weight: bold;
}

/* Estilo para el botón "Inicia Sesión" cuando es clickeado */
button.inicia-sesion:hover {
    border: 1px solid #008248 !important; /* Borde verde en hover */
    color: #008248 !important; /* Texto verde en hover */
}

button.inicia-sesion:focus {
    border: 1px solid #008248 !important;
    color: #008248 !important;
}

/* Cambiar el tamaño de la imagen del teléfono celular */
.cel-img {
    width: 250px; /* Ajustar el tamaño aquí */
    height: auto; /* Mantener la proporción */
    margin-left: 320px;
    margin-top: -30px;
}
.main {
    background-color: whitesmoke;
    grid-column: 6 / 13;
    grid-row: 2 / 3;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    margin-top: 80px; /* Ajustar espacio para el navbar */
    height: calc(100vh - 80px); /* Ajustar la altura considerando el navbar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Añadir padding para el contenido */
}

/* Footer */
.main {
    background-color: whitesmoke;
    grid-column: 6 / 13;
    grid-row: 2 / 3;
    overflow-y: auto; /* Permitir desplazamiento vertical */
    margin-top: 80px; /* Ajustar espacio para el navbar */
    height: calc(100vh - 80px); /* Ajustar la altura considerando el navbar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px; /* Añadir padding para el contenido */
}

/* Footer */
.footer {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: left; /* Alinea el texto a la izquierda */
    font-family: "Catamaran", sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: calc(100% - 40px); /* Ajustar para que no se salga del main */
    margin: 0 auto;
    padding: 0 20px;
}

.footer-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer-section {
    padding: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: none; /* Asegura que el texto esté en minúsculas */
    font-weight: normal; /* Quita el negritas excesivo */
    color: black;
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.footer-section ul li a {
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-section ul li a:hover {
    color: black;
    text-decoration: none; /* Evita el subrayado al hacer hover */
}

.footer-line {
    border: 0;
    height: 1px;
    background: gray; /* Línea gris */
    margin: 20px 0;
}

.footer-social {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-social a {
    margin: 0 15px; /* Más espacio entre íconos */
    display: inline-block;
    transition: transform 0.3s ease; /* Transición para el efecto de movimiento */
}

.footer-social a:hover {
    transform: translateY(-5px); /* Movimiento hacia arriba al hacer hover */
}

.footer-social img.social-icon {
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
}

.footer-bottom {
    margin: 20px 0;
    max-width: calc(100% - 40px); /* Ajustar para que no se salga del main */
    margin: 0 auto;
}

.footer-bottom ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom ul li a {
    color: #a9a9a9; /* Color gris más fuerte */
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-bottom ul li a:hover {
    color: black;
    text-decoration: none; /* Evita el subrayado al hacer hover */
}

.footer-bottom ul li span {
    color: #a9a9a9; /* Color gris más fuerte para el separador */
}

.footer-copyright {
    font-size: 0.8rem;
    margin-top: 20px;
    width: 100%;
    text-align: center; /* Centra el texto del copyright */
    color: gray;
}

